html {
  background-size: 100% 100% cover;
  background-color: #6AABD2;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: 'Playfair Display', serif;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1.5fr 0.5fr 2fr 2fr;
      grid-template-rows: 1.5fr 0.5fr 2fr 2fr;
  gap: 2% 0%;
      grid-template-areas: "slider" "Portada" "Mapa" "Reservacion";
  color: #D9E4EC;
}

/*Slider ----- start */
.slider {
  position: relative;
  margin: auto;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: slider;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 8px #ededf856, -4px -4px 8px #3d3d3d80;
          box-shadow: 4px 4px 8px #ededf856, -4px -4px 8px #3d3d3d80;
}

.slides {
  width: 500%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.slide .texto {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: -40%;
}

.slide .texto h1 {
  font-size: 40px;
  color: #D9E4EC;
  text-shadow: 3px 3px 2px #6AABD2;
}

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 2px solid #6AABD2;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #6AABD2;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #6AABD2;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #6AABD2;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #6AABD2;
}

/*Slider ----- end */
.Portada {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Portada;
  text-align: center;
  font-size: 70px;
  margin-top: -4%;
  text-shadow: 3px 3px 2px #3835357a;
}

.Mapa {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Mapa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

.Reservacion {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: Reservacion;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f9fbff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23889dcc' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ebefff' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2388a1d6' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23dde3ff' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2389a6e0' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ced8ff' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2389aaea' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23bfccff' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2389aff5' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23afc1ff' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%2388b3ff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: bottom;
}

.forma {
  display: inline-block;
  margin: 5%;
  padding: 7%;
  border-radius: 10%;
  height: 280px;
  width: 200px;
  background-color: #b7cfdc73;
  -webkit-box-shadow: 4px 4px 8px #ededf856, -4px -4px 8px #3d3d3d80;
          box-shadow: 4px 4px 8px #ededf856, -4px -4px 8px #3d3d3d80;
  font-weight: bolder;
}

.Foto img,
.forma {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.Foto img:hover,
.forma:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

form {
  text-align: center;
  color: #000;
}

input {
  border-radius: 1em;
}

.btn {
  background-color: rgba(79, 105, 139, 0.3);
}

.input-text:not(focus) {
  width: 50px;
  background-color: #bdccdf;
}

.input-text:focus {
  -webkit-animation: enlarge 0.5s;
          animation: enlarge 0.5s;
  width: 200px;
  background-color: white;
}

@-webkit-keyframes enlarge {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

@keyframes enlarge {
  0% {
    width: 50px;
  }
  100% {
    width: 200px;
  }
}

.btn:hover {
  background-color: #bdccdf;
}
/*# sourceMappingURL=mountainMadness.css.map */